.featureHeading {
    text-align: center;
}

.item {
    padding: 40px 0 20px;
    display: grid !important; 
    text-align: center;
}

.itemImg {
    width: 90px;
    margin: auto;

}

.itemText {

}

@media (max-width: 740px) {
    
} 